#!/bin/bash

{% for instance in tomcat.instances %}
export CATALINA_BASE={{tomcat.dir}}/{{instance.port}}
pid=`ps -fe | grep 'tomcat/{{instance.port}}' | grep -v grep | tr -s ' ' | cut -d " " -f2`
if [ -n "$pid" ]; then 
{{tomcat.dir}}/{{tomcat.dist}}/bin/shutdown.sh
fi
{{tomcat.dir}}/{{tomcat.dist}}/bin/startup.sh

{% endfor %}
