<?xml version='1.0' encoding='utf-8'?>

<tomcat-users>


  {% if item.users is defined %}
    {% for user in item.users %}
      <role rolename="{{user.name}}"/>
      <user username="{{user.name}}" password="{{user.password}}" roles="{% for role in user.roles %}{{ role }},{% endfor %}"/>
    {% endfor %}  
  {% else %}
    <role rolename="tomcat"/>
    <user username="tomcat" password="tomcat" roles="tomcat,manager-gui"/>
  {% endif %}

</tomcat-users>
