<?xml version="1.0" encoding="UTF-8" ?>

<solr persistent="false">

  <!-- GLOBAL CONFIGS -->

  <!-- COMMIT CONFIGS -->
  <property name="commit.soft.interval" value="{{solr_soft_commit}}" />
  <property name="commit.hard.interval" value="{{solr_hard_commit}}" />

  <!-- REPLICATION CONFIG -->
  {% if solr_replication_mode == 'slave' %}
  <property name="replication.slave" value="true" />
  <property name="replication.slave.masterUrl" value="{{solr_replication_master_url}}"/>
  <property name="replication.slave.pollInterval" value="{{solr_replication_poll_interval}}" />
  {% elif solr_replication_mode == 'master' %}
  <property name="replication.master" value="true" />
  <property name="replication.files" value="{{solr_replication_files}}" />
  {% endif %}

  <!--
  adminPath: RequestHandler path to manage cores.  
    If 'null' (or absent), cores will not be manageable via request handler
  -->
  <cores adminPath="/admin/cores" host="${host:}" hostPort="${jetty.port:8983}" hostContext="${hostContext:solr}">
    {% for core in solr_core_names %}
    <core name="{{core}}" instanceDir="{{core}}" />
    {% endfor %}
    
    <shardHandlerFactory name="shardHandlerFactory" class="HttpShardHandlerFactory">
      <str name="urlScheme">${urlScheme:}</str>
    </shardHandlerFactory>
  </cores>
        
</solr>